 /* src/pages/Auth.css */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .auth-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #2c3e50;
  }
  
  .auth-form .form-group {
    margin-bottom: 15px;
  }
  
  .auth-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #7f8c8d;
  }
  
  .auth-form .form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .auth-form .btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .auth-form .btn:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
  }
   
  .auth-form p {
    margin-top: 10px;
    text-align: center;
  }
   
